body {
    height: 96vh;
    display: flex;
    align-items: center;
    background-color: #8a8787;
}

body * {
    box-sizing: border-box;
}

.slider-wrapper {
    margin: 0 auto;
    width: 80%;
    height: 80vh;
    overflow: hidden;
    border: 1px solid greenyellow;
}