* {
    margin: 0;
    padding: 0;
}

body {
    height: 96vh;
    display: flex;
    align-items: center;
    background-color: #8a8787;
}

body * {
    box-sizing: border-box;
}


.slider-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    height: 80vh;
    overflow: hidden;
    border: 0.2rem solid greenyellow;
}

.slider {
    height: 100%;
    flex-direction: column;
}

.slider input {
    display: none;
}

.slides-content {
    display: flex;
    height: 80%;
    width: 400%;
    transition: all 0.3s ease;
}

.text {
    font-size: 1.25em;
    height: 15%;
    width: 50%;
    margin: 1% 0 0 0;
}

.slide {
    width: 25%;
    transition: all 0.3s ease;
}

.slide img {
    height: 100%;
    width: 100%;
}

.button {
    display: inline-block;
    margin: 0;
    width: 1rem;
    height: 1rem;
    border: 0.1rem solid greenyellow;
    border-radius: 50%;
    background-color: #8a8787;
    cursor: pointer;
}

.button.first {
    margin: 1% 0 0 84%;
}

.button:hover {
    background-color: greenyellow;
}

#b1:checked ~ .slides-content {
    margin-left: 0;
}

#b2:checked ~ .slides-content {
    margin-left: -100%;
}

#b3:checked ~ .slides-content {
    margin-left: -200%;
}

#b4:checked ~ .slides-content {
    margin-left: -300%;
}

#b1:checked ~ .button.first {
    background-color: greenyellow;
}

#b2:checked ~ .button.second {
    background-color: greenyellow;
}

#b3:checked ~ .button.third {
    background-color: greenyellow;
}

#b4:checked ~ .button.fourth {
    background-color: greenyellow;
}

@media(min-width: 1060px) {
    .button.first {
        margin: 1% 0 0 90%;
    }
}

@media(max-width: 640px) {
    .button.first {
        margin: 3% 0 0 42%;
    }

    .text {
        font-size: 1em;
        height: 15%;
        width: 95%;
        margin: 10% 0 0 0;
    }
}

@media(max-width: 450px) {
    .button.first {
        margin: 3% 0 0 35%;
    }
}